.answerContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  padding-top: 90px;
}

.right_arrow_title {
  /* text-align: center; */
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: lighter;
}

.questionInfo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: -10px;
}

.questionTitle {
  font-weight: bold;
  padding-left: 0;
  margin-top: 0px;
  font-size: 20px;
}
.questionTitle::after {
  content: "";
  display: block; /* Makes the underline a separate block */
  width: 130%; /* Matches the title text */
  height: 2px; /* Thickness of the underline */
  background-color: orange; /* Orange color for the underline */
  margin-top: 0.2rem; /* Small space between text and underline */
}

.questionDescription {
  margin-top: 20px;
}

.answer_body {
  margin-top: 10px;
  margin-bottom: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin: 10px 0;
}

.answer_item_wrapper {
  margin-top: 10px;
}

.answerItem {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  margin-bottom: -20px;
}

.username {
  margin-top: 0 ;
  padding-left: 10px;
}

.old_answer {
  margin-left: 40px;
  margin-top: -20px;
}

.answerInputContainer {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  margin-bottom: 10px;
}


.submitButton {
  padding: 10px 20px;
  
  cursor: pointer;
   background-color: #2563eb; /* Blue background for button */
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
  margin-left: 0;
  display: inline-block;
  
}
.showMore {
  color: orange;
  cursor: pointer;
 
  font-weight: bold;
  margin-left: 5px;
  transition: color 0.3s ease;
}

.showMore:hover {
  color: orange;
   text-decoration: underline;
}


@media screen and (max-width: 768px) {
  .answerContainer {
    padding: 10px;
  }

  .questionTitle {
    font-size: 1.2em;
  }
  .answerItem{
    margin-bottom: 50px;
  padding-bottom: 30px;
  }
  .avatarContainer{
    margin-top: 20px;
  }

  .questionDescription {
    font-size: 0.9em;
  }

  .username {
    font-size: 0.9em;
  }

  .old_answer {
    font-size: 0.9em;
  }
}
